<!DOCTYPE html>

<html>
	<head>
		<title>Рецепт</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style.css">
	</head>

	<body>
		<h1>Рецепт яблочного пирога</h1>

		<div id="recipe">
			<img id="pie" src="/static/images/pie.jpg" width="50%">

			<ul>
				<li>яблоко</li>
				<li>мука</li>
				<li>яйца</li>
				<li>сахар</li>
				<li>молоко</li>
				<li>разрыхлитель</li>
				<li>корица</li>
				<li>масло сливочное</li>
				<li>любовь</li>
			</ul>

			<p id="farewell">Bon Appétit!</p>
		</div>
	</body>

	<script src="/static/script.js"></script>
</html>
